<li>
  <%= gravatar_for commuter, size: 50 %>
  <%= link_to commuter.name, commuter %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", commuter, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>
