<% provide(:title, 'All commuters') %>
<h1>All commuters</h1>

<%= will_paginate %>

<ul class="commuters">
  <% @commuters.each do |commuter| %>
    <%= render commuter %>
  <% end %>
</ul>

<%= will_paginate %>
