<h1>Profile Page</h1>
<%= link_to 'Search', profile_search_path %>

<br>
<div style="height: 500px; width: 500px" id="map_fave"></div>
<br>
<div style="height: 500px; width: 500px" id="map_recent"></div>

<script>

</script>
