<h1 >Profile Page</h1>

<div id="welcome">
<% if current_user%>
Welcome, <%= current_user.name  %>!
<%end%>
</div>
<br>

<br>

<div id="map_fave"></div>
<br>
<div style="height: 500px; width: 500px" id="map_recent"></div>
