<div id="welcome">
  <% if current_user%>
  Welcome, <%= current_user.name  %>!
  <%end%>
</div>
<br>

<div class="search-link">
  <button class="search-bttn"><%= link_to 'Destination Search', routes_path %></button>
</div>
<br>

<div class="appointments">
  <button class="appts"><%= link_to 'Set an alarm for your route departure!', appointments_new_path %></button>
</div>
<br>

<div id="map_fave"></div>
<br>
<div style="height: 500px; width: 500px" id="map_recent"></div>
