<div class="holder">
  <div id="about-par">
    <h2 id="feat">About this app:</h3>
    <h3>This is a commuter app catered specifically to bicyclists.
      A commuter can search for their preferred destination and recieve a
      combonation of mass transit options mixed with biking routes to their
      destination. Commuters may also set an alarm for their preferred
      departure time so that they make it to their destination on time.
    </h3><br>
  </div>

    <div id="about-list">
      <h4 id="feat">Upcoming features:</h4>
      <h4>User selection for bike speed</h4>
      <h4>Location tracking</h4>
      <h4>Route recommendations<h4>
      <h4>Spanish language support<h4>
        <br>


      <h4 id="feat">Creators:</h4>
      <h4>Paul Ingelmo</h4>
      <h4>Bradel Canfield</h4>
      <h4>Alex Melcon</h4>

    </div>
</div>
