/*
*= require_tree
*= require_self
*/
div.posts li {
  float: inherit;
}

div.commuters li {
  list-style: none;
  margin: 0;
  float: inherit;
  overflow: auto;
  padding: 10px 0;
  border-bottom: 1px solid;
}

div.holder {
  background-color: black;
  opacity: 0.6;
  padding-top: 1em;
  margin-left: -1em;
  margin-right: -1em;
  margin-top: -4em;
  position: relative;
  z-index: 3;
  box-shadow: 4px 8px 16px 4px rgba(0.2,0,0,0.2);
}

h1, h2, h3 {
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 4em;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  font-weight: 200;
  font-size: 16px;
  font-family: sans-serif;
  -webkit-clip-path: polygon(0 30%, 30% 0, 100% 0, 100% 70%, 70% 100%, 0 100%);
  -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
}

li a:hover {
  background-color: #63B8FF;
}

.dropdown {
  float: left;
  margin-top: -50px;
  position: relative;
  display: inline-block;
  background: rgba(0,0,0,0);
  z-index: 5;
}

.dropbtn {
  -webkit-clip-path: polygon(0 30%, 30% 0, 100% 0, 100% 70%, 70% 100%, 0 100%);
  color: white;
  padding: 13.5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  -webkit-box-sizing: content-box;
  cursor: pointer;
  margin: 0 auto;
  border: 2px solid white;
  border-radius: polygon(0 30%, 30% 0, 100% 0, 100% 70%, 70% 100%, 0 100%);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 1px;
  background: rgba(0,0,0,0);
  -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
}

.dropbtn:hover, .dropbtn:focus {
  background-color: 	#63B8FF;
}

#myDropdown {
  display: none;
  color: white;
  z-index: 5;
}

.dropdown-content {
  position: absolute;
  background-color: none;
  z-index: 5;
  min-width: 100px;
  background: rgba(0,0,0,0);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  position: absolute;
  left: 0;
  font-family: sans-serif;
  font-size: 14px;
}

.dropdown-content a:hover {
  background-color: #63B8FF;
  color: white;
  z-index: 5;
}

.logout-button {
  z-index: 5;
  height: 40px;
  width: 100px;
  margin-bottom: 5px;
  position: relative;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 200;
  font-family: sans-serif;
  background: rgba(0,0,0,0);
  -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
}

.logout-button:hover {background-color: #63B8FF;
  z-index: 5;
}

.login-form {
  display: none;
}

.signup-form {
  display: none;
}

.login {
  position: relative;;
  z-index: 5;
  height: 40px;
  width: 100px;
  margin-bottom: 5px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 200;
  font-family: sans-serif;
  background: rgba(0,0,0,0);
  -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
}

.signup {
  z-index: 5;
  height: 40px;
  width: 100px;
  margin-bottom: 5px;
  position:relative;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 200;
  font-family: sans-serif;
  background: rgba(0,0,0,0);
  -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
}

.login:hover, .login:focus {
  z-index: 5;
  background-color: 	#63B8FF;
}

.signup:hover, .signup:focus {
  z-index: 5;
  background-color: 	#63B8FF;
}

body#background {
  background: url(http://pedaleaza.ro/wp-content/uploads/2014/09/Ceauca-Florian-Catalin.jpg)no-repeat 50% 50% fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

div.container {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: red;
  font-style: bold;
  background-color: white;
  margin-top: 4em;
}



 /*for mobile*/
@media (max-width: 700px) {

  #welcome {
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
    color: white;
    margin-top: -1em;
  }

  h1 {
    color: white;
    font-size: 18px;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 4em;
    overflow: hidden;
  }

li {
    float: left;
  }

li a {
    display: block;
    text-align: center;
    padding: 10px 12px;
    font-weight: 200;
    font-size: 12px;
    font-family: sans-serif;
    -webkit-clip-path: polygon(0 30%, 30% 0, 100% 0, 100% 70%, 70% 100%, 0 100%);
    -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
    -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
    -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
    transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  }

 li a:hover {
    background-color: #63B8FF;
  }

  .dropdown {
    float: left;
    margin-top: -50px;
    position: relative;
    display: inline-block;
    background: rgba(0,0,0,0);
  }

  .dropbtn {
    -webkit-clip-path: polygon(0 30%, 30% 0, 100% 0, 100% 70%, 70% 100%, 0 100%);
    color: white;
    padding: 13.5px;
    font-size: 10px;
    border: none;
    cursor: pointer;
    -webkit-box-sizing: content-box;
    cursor: pointer;
    margin: 0 auto;
    margin-top: -20px;
    border: 2px solid white;
    border-radius: polygon(0 30%, 30% 0, 100% 0, 100% 70%, 70% 100%, 0 100%);
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    letter-spacing: 1px;
    background: rgba(0,0,0,0);
    -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
    -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
    -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
    transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  }

  .dropbtn:hover, .dropbtn:focus {
    background-color: 	#63B8FF;
  }

  #myDropdown {
    display: none;
    color: white;
    min-width: 50%;
    position: absolute;
    z-index: 5;
  }

  .dropdown-content {
    position: absolute;
    z-index: 5;
    background: rgba(0,0,0,0);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /*left: 0;*/
    font-family: sans-serif;
    font-size: 12px;
  }

  .dropdown-content a:hover {
    background-color: #63B8FF;
    color: white;
  }

  .logout-button {
    height: 40px;
    width: 100px;
    margin-bottom: 5px;
    position:relative;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 200;
    font-family: sans-serif;
    background: rgba(0,0,0,0);
    -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
    -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
    -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
    transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  }

  .logout-button:hover {background-color: #63B8FF}

  .login-form {
    display: none;
  }

  .signup-form {
    display: none;
  }

  .login {
    height: 40px;
    width: 100px;
    margin-bottom: 5px;
    position:relative;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 200;
    font-family: sans-serif;
    background: rgba(0,0,0,0);
    -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
    -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
    -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
    transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  }

  .signup {
    height: 40px;
    width: 100px;
    margin-bottom: 5px;
    position:relative;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 200;
    font-family: sans-serif;
    background: rgba(0,0,0,0);
    -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
    -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
    -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
    transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  }

  .login:hover, .login:focus {
    background-color: 	#63B8FF;
  }

  .signup:hover, .signup:focus {
    background-color: 	#63B8FF;
  }

  body#background {
    background: url(http://pedaleaza.ro/wp-content/uploads/2014/09/Ceauca-Florian-Catalin.jpg)no-repeat 30% 30% fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
  }

  div.container {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: red;
    font-style: bold;
    background-color: white;
  }

  .appts {
    position: center;
    -webkit-clip-path: polygon(0 25%, 30% 0, 100% 0, 100% 40%, 70% 100%, 0 100%);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: rgba(0,0,0,0);
    color: white;
    font-size: 8px;
    border: none;
    cursor: pointer;
    -webkit-box-sizing: content-box;
    cursor: pointer;
    margin-left: 1em;
    /*margin: 0 auto;*/
    border: 2px solid white;
    border-radius: polygon(0 25%, 30% 0, 100% 0, 100% 40%, 70% 100%, 0 100%);
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    letter-spacing: 1px;
    background: rgba(0,0,0,0);
    -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
    -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
    -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
    transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  }

  .appts:hover {background-color: #63B8FF}

  .search-bttn {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    -webkit-clip-path: polygon(0 40%, 30% 0, 100% 0, 100% 30%, 70% 100%, 0 100%);
    background-color: rgba(0,0,0,0);
    color: white;
    font-size: 8px;
    border: none;
    cursor: pointer;
    -webkit-box-sizing: content-box;
    cursor: pointer;
    margin-top: -1em;
    margin-left: 1em;
    /*margin: auto;*/
    border: 2px solid white;
    border-radius: polygon(0 35%, 30% 0, 100% 0, 100% 20%, 70% 100%, 0 100%);
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    letter-spacing: 1px;
    background: rgba(0,0,0,0);
    -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
    -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
    -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
    transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  }

  .search-bttn:hover {background-color: #63B8FF}

  div#map_fave {
    float: right;
    left: 0;
    justify-content: center;
    height: 200px;
    width: 200px;
    margin: 0 auto;
    opacity: 0.9;
  }


  .profile-bttn {
    position: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    -webkit-clip-path: polygon(0 30%, 30% 0, 100% 0, 100% 40%, 70% 100%, 0 100%);
    background-color: rgba(0,0,0,0);
    color: white;
    padding: 13.5px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    -webkit-box-sizing: content-box;
    cursor: pointer;
    margin: 0 auto;
    border: 2px solid white;
    border-radius: polygon(0 30%, 30% 0, 100% 0, 100% 70%, 70% 100%, 0 100%);
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    letter-spacing: 1px;
    background: rgba(0,0,0,0);
    -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
    -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
    -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
    transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  }

  .profile-bttn:hover {
    background-color: #63B8FF;
  }

  #profile-info {
    float: left;
    right: 0;
    margin-top: -201px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: black;
    opacity: 0.6;
    margin-left: -8px;
  }

  #profile-info h3, td {
    font-size: 8px;
  }

  #profile-list {
    display: list-item;
    list-style-type: none;
  }

  #profile-pic {
    float: left;
    padding-bottom: 0;
    z-index: 4;
    position: absolute;
    margin-top: -4em;

  }

  img {
    margin-left: 2em;
    float: left;
    height: 10%;
    width: 20%;
    z-index: 3;
  }

  .prof-thumbnail {
    margin-left: 2em;
    float: left;
    height: 20%;
    width: 40%;
    z-index: 4;
  }

  td {
    color: white;
    margin-right: -3em;
  }
  div.holder {
      background-color: black;
      opacity: 0.6;
      padding-top: 1em;
      margin-left: -1em;
      margin-right: -1em;
      margin-top: -4em;
      position: relative;
      z-index: 3;
      box-shadow: 4px 8px 16px 4px rgba(0.2,0,0,0.2);
  }

}
