ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #7A67EE;
}

.dropdown {
  float: right;
  margin-top: -50px;
}

.dropdown-content a {
    color: #7A67EE;
    padding: 12px;
    text-decoration: none;
    display: block;
}

.dropbtn {
    background-color: #333;
    color: white;
    padding: 13.5px;

    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 4px;
    margin-bottom: 4px;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: 	#7A67EE;
}

.dropdown {
    position: relative;
    display: inline-block;
}

#myDropdown {
  display: none;
}

.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    position: absolute;
    right: 0;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.show {display:block;}

.login-form {
  display: none;
}

.signup-form {
  display: none;
}
